html {
    margin-top: 0; /* Add a top margin to avoid content overlay */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: hsla(176, 16%, 21%, 1);
    background-color: hsla(176, 16%, 65%, 1);
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}


/* -- Header + Title -- */

.header {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    align-content: center;
    font-weight: 600;
    height: 75px;
    width: 80%;
    margin-top: 1rem;
}

.title {
    display: flex;
    flex: 2 1 100px;
    margin-left: 10px;
    height: auto;
}

.title a {
    color: hsla(176, 16%, 21%, 1);
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0 5px;
}

.title a:hover {
    color: hsla(176, 77%, 11%, 1);
}

.navbar {
    display: flex;
    flex: 1 2 100px;
    justify-content: right;
    margin-right: 4 rem;
    height: auto;
}

.navbar a {
    color: hsla(176, 77%, 11%, 1);
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
}


.navbar a:hover {
    color: hsla(176, 38%, 11%, 1);
}

/* -- About ZodiacUp -- */

#aboutZodiac {
    display: block;
}

#aboutZodiac h2 {
    margin: 0.5rem auto;
}

#aboutZodiac p {
    margin: 0.25rem auto;
    font-size: 1.085rem;
    font-weight: 500;
}

/* -- Generate Message -- */


#entryForm {
    margin: auto;
    margin-top: 2rem;
    padding: 10px;
    border: 1.5px solid hsla(176, 16%, 21%, 1);
    border-radius: 12px;
    width: 60%;
}

#predictionDisplay {
    margin-bottom: 1rem;
    font-size: 1.085rem;
    font-weight: 500;
}

button {
    font-family: inherit;
    font-size: 100%;
    width: 150px;
    padding: 0;
    margin-top: 0.125rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* -- contact page -- */

#contact {
    margin: auto;
    margin-top: 4rem;
}

#contact a {
    color: hsla(176, 16%, 21%, 1);
}

#contact a:hover {
    color: hsla(176, 77%, 11%, 1);
}

#contact h3 {
    margin: 1.5rem auto;
}

#contact h4 {
    margin: 0.5rem auto;
}


/* -- Footer Elemente -- */

footer {
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 100%;
    margin: auto;
    margin-top: 200px;

}

footer p {
    flex: 2 1 200px;
}

footer p, footer a {
    font-size: 0.85rem;
}

footer a {
    flex: 1 2 200px;
    color: hsla(176, 16%, 9%, 1);
    padding: 0 5px;
}

footer a:hover {
    color: grey;
    text-decoration: none;
}
